doctype html
html(lang="en")
    head
        title Document
    body 
        h3 Employees
        p.home This is pug
        div#house more pug 
        .animal dog 
            #animal cat
        ul
            li
                a(href ="/") home
            li
                a about 
            li 
                a contact 
        // Multiple line paragraph
        <!-- Multiple line paragraph -->
        p 
            | You are logged in as 
            | Student User 

        Buffering code in pug
        - 
            employees=[
                "John", "Jane", "Jack", "Jill"
            ]
        
        ul 
            each employee in employees 
                li #{employee}

        

  


